body {
    text-align: center;
}
piture {
    transition: transform .2s;
    border: 10px solid #AAAAAA;
    width: 20%;
    height: 20%;
}
piture:hover {
    transform: scale(0.9);
}
h1 {
color: aqua;
}
h2 {
color: black; 
}